:root {
  --text-color: #969696;
}

svg{
  color: rgb(211, 120, 54)
}

.hidden {
  display: none;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: var(--text-color);
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  color: #e0e0e0;
}

.grid {
  display: grid; /* Change from flex to grid */
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Automatically fill columns with minimum width of 250px */
  gap: 10px; /* Add gap between grid items */
}

.grid-item {
  position: relative; /* Remove the ::before pseudo-element */
  overflow: hidden; /* Hide overflowing content */
}

.grid-item img {
  width: 100%; /* Fill the grid item width */
  height: 100%; /* Fill the grid item height */
  object-fit: cover; /* Maintain aspect ratio and cover the grid item */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid-item:hover img {
  filter: brightness(80%); /* Adjust brightness on hover */
}

footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  color: #bbbbbb;
}

footer a {
  color: #0073e6;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
}

.about-content {
  display: block;
  opacity: 0;
  height: 0;
  transition: opacity 0.25s ease-in-out, height 0.25s ease-in-out;
  text-align: center;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.about-content p {
  margin: 3px 0; /* Adjust the margin values as needed */
}

/* Class for height transition */
.about-content.transform-active {
  height: 50px; /* Adjust this value based on the content size */
}

/* Class for opacity transition */
.about-content.opacity-active {
  opacity: 1;
}

/* color:rgb(211, 120, 54); */
/* Styling the tag navigation */
.tag-nav {
  text-align: center;
  margin-bottom: 20px;
}

.tag-nav ul {
  list-style-type: none;
  padding: 0;
}

.tag-nav ul div {
  font-size: small;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  color: rgb(211, 120, 54);
  text-decoration: none;
}

.tag-nav ul div:hover {
  text-decoration: underline;
}

/* Styling the logs */
.logs {
  margin: 20px;
}

.log-entry {
  padding: 10px 0;
}

.log-entry .tag {
  font-size: small;
  color: rgb(211, 120, 54);
}

.log-entry .log-text {
  margin: 5px 0;
}

/* Hidden class to hide log entries */
.hidden {
  display: none;
}

.feather.feather-twitter {
  width: 17px; /* Adjust the width and height as needed */
  height: 17px;
}

@media screen and (min-width: 768px) {
  /* 5 columns for larger screens */
  .grid-sizer { width: 20%; }
}